.sidebar-container {
    background-color: #e45151;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
}
.sidebar-button {
    background-color: #f1eff7;
    color: rgb(10, 8, 8);
    border: solid 1px #161010;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}