/* You can add global styles to this file, and also import other style files */







.admin-container{
    background-color: white;
}
.admin-add-user{
    height: 20%;
    background-color: #28282B;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    margin: 10px 150px;
}
input[type=text]{
    width: 170px;
    height: 20px;
    padding: 10px 20px;
    margin: 1px 1px;
    border: none;
}
select{
    width: 200px;
    height: 40px;
    padding: 10px 20px;
    border: none;
    margin: 1px 1px;
}
.admin-button{
    margin: 8px 2px;
    height: 40px;
    width: 563px;
    background-color: #2ECC71;
}
.admin-user-list{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-color: white;
}
.admin-user-detail{
    display: flex;
    width: 60%;
    margin: auto;
    padding: 15px 15px;
    background-color: #28282B;
    color: white;
    border-bottom: #1D8348 3px solid;
    font-size: 18px;
    font-weight: lighter;
}
.admin-user-name{
    width: 30%;
}
.admin-user-gender{
    width: 20%;
}
.admin-user-subtype{
    width: 20%;
    
}
.admin-user-status{
    width: 30%;
}
.admin-user-show-detail-button{
    padding: 2px 5px;
    border: none;
    background-color: #28282B;
    color: yellow;
    font-weight: bold;
}
.user-detail-container{
    margin: 10px 50px;
    width: 90%;
    padding: 20px 150px;
    display: flex;
    border-top: #efefef 3px solid;
}
.user-detail-avatar-image{
    width: 240px;
    height: 240px;
    border-radius: 50%;
    margin: 20px auto;
}
.user-detail-info{
    margin: 20px 50px;
    padding: 30px 20px;
}
h2{
    margin: 10px 0px;
}
p{
    margin: 5px 0px;
}